<div style="background-color: rgba(238, 238, 238, 0.563);">
    <div class="container" style="display: flex; align-items: center; ">

        <div class="menu">
            <ul class="list-unstyled mb-0">
                <li><a href="#">Women</a></li>
                <li><a href="#">Men</a></li>
                <li><a href="#">Boys</a></li>
                <li><a href="#">Girls</a></li>
            </ul>
        </div>

        <div class="logo-company">
            <img height="40px" src="../../../assets/images/logo navbar.png" alt="Logo">
        </div>

        <div class="auth-links" style="display: flex; align-items: center;">
            <mat-icon (click)="openForm('add')" class="custom-icon">search</mat-icon>
            <mat-icon class="custom-icon">notifications</mat-icon>
            <mat-icon class="custom-icon">favorite</mat-icon>
            <mat-icon class="custom-icon">shopping_bag</mat-icon>
            <a (click)="showDialoglogin()" href="#">Login</a>
            <a (click)="showDialogsingup()" href="#">Sign Up</a>
        </div>

    </div>
</div>


<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
    <ng-template pTemplate="header">
        <div class="font-bold cursor-pointer border-b-2 border-primary">LOGIN</div>
        <div class="text-center">
            <button class="p-dialog-header-icon" (click)="visible = false">

            </button>
        </div>
    </ng-template>

    <div class="flex flex-column">
        <div>
            <div class="p-field" style="font-size: 15px;">
                <label class="col-md-12" for="username1">Username</label>
                <input class="col-md-12 mt-2" id="username1" type="username" aria-describedby="username1-help"
                    placeholder="Email" pInputText />
            </div>

            <div class="p-field" style="font-size: 15px;">
                <label class="col-md-12" for="username1">Username</label>
                <div class="p-inputgroup">
                    <input pInputText class="col-md-10 mt-2" id="username1"
                        [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Username" />
                    <div class="col-md-2 p-inputgroup-addon" (click)="togglePasswordVisibility()">
                        <i [class]="isPasswordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'" style="cursor: pointer;"></i>
                    </div>
                </div>
                <small class="mt-1" id="username1-help">Enter your username to reset your password.</small>
            </div>
        </div>

        <button pButton label="LOGIN" class="mt-2 w-full p-button p-button-text p-button-lg text-bold"
            style=" background-color: #000; color: #fff; width: 100%; border-radius: 4px; font-size: 14px;"></button>

        <div style="text-align: center;" class="mt-2 mb-2">
            <a style="cursor: pointer; text-decoration: underline;" class=" cursor-pointer text-primary">Forgot your
                password?</a>
        </div>


        <div class="text-center text-gray-500">OR</div>

        <div class="">
            <button pButton label="Continue with Google" style="width: 100%;"
                class="mt-2 p-button-outlined flex items-center gap-3 justify-center p-button-lg">
                <img src="../../../assets/images/facebook.png" alt="Google" />
            </button>
            <button pButton label="Continue with Facebook" style="width: 100%;"
                class=" mt-3 p-button-outlined flex items-center gap-3 justify-center p-button-lg"
                [style]="{ color: '#4267B2' }">
                <img src="../../../assets/images/facebook.png" alt="Facebook" />
            </button>
        </div>

        <div class="text-center mt-3">
            <span>New to ZANDO?</span>
            <a class="text-primary cursor-pointer">Register</a>
        </div>
    </div>
</p-dialog>


<p-dialog [(visible)]="visiblesignUp" [modal]="true" [style]="{ width: '25rem' }">
    <ng-template pTemplate="header">
        <div class="font-bold cursor-pointer border-b-2 border-primary">REGISTER</div>
        <div class="text-center">
            <button class="p-dialog-header-icon" (click)="visible = false"></button>
        </div>
    </ng-template>

    <div class="flex flex-column">
        <div>
            <div class="p-field" style="font-size: 15px;">
                <label class="col-md-12" for="email">Email</label>
                <input class="col-md-12 mt-2" id="email" type="email" aria-describedby="email-help" placeholder="Email"
                    pInputText />
            </div>

            <div class="p-field" style="font-size: 15px;">
                <label class="col-md-12" for="password">Password</label>
                <div class="p-inputgroup">
                    <input pInputText class="col-md-10 mt-2" id="password"
                        [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Password" />
                    <div class="col-md-2 p-inputgroup-addon" (click)="togglePasswordVisibility()">
                        <i [class]="isPasswordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'" style="cursor: pointer;"></i>
                    </div>
                </div>
                <small class="mt-1" id="password-help">Enter your password to reset your account.</small>
            </div>

            <div class="p-field" style="font-size: 15px;">
                <label class="col-md-12" for="gender">Gender</label>
                <div class="row">
                    <div class="col-md-4 form-check">
                        <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1" value="male">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault2" value="female"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Female
                        </label>
                    </div>
                </div>
            </div>


        </div>

        <button pButton label="REGISTER" class="mt-2 w-full p-button p-button-text p-button-lg text-bold"
            style=" background-color: #000; color: #fff; width: 100%; border-radius: 4px; font-size: 14px;"></button>

        <div class="text-center text-gray-500">OR</div>

        <div class="">
            <button pButton label="Continue with Google" style="width: 100%;"
                class="mt-2 p-button-outlined flex items-center gap-3 justify-center p-button-lg">
                <img src="../../../assets/images/facebook.png" alt="Google" />
            </button>
            <button pButton label="Continue with Facebook" style="width: 100%;"
                class=" mt-3 p-button-outlined flex items-center gap-3 justify-center p-button-lg"
                [style]="{ color: '#4267B2' }">
                <img src="../../../assets/images/facebook.png" alt="Facebook" />
            </button>
        </div>

        <div class="text-center mt-3">
            <span>New to ZANDO?</span>
            <a class="text-primary cursor-pointer">Register</a>
        </div>
    </div>
</p-dialog>