.search-container {
    .search-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 8px;
    }

    .search-text {
        font-size: 16px;
        color: #333;
    }

    .close-icon {
        cursor: pointer;
        font-size: 24px;
        color: #666;
    }
}



.close-icon {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}


.data-view {
    .tabs {
        display: flex;
        margin-bottom: 10px;

        .tab {
            padding: 10px 20px;
            border: none;
            background: none;
            font-weight: bold;
            cursor: pointer;
            color: #000;
            border-bottom: 2px solid transparent;

            &.active {
                border-color: #000;
            }

            &:hover {
                color: #333;
            }
        }
    }

    .product-list {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .product-item {
            display: flex;
            align-items: center;
            margin: 10px;
            cursor: pointer;

            .product-image {
                width: 110px;
                height: 70px;
                object-fit: cover;
                margin-right: 15px;
            }

            .product-details {
                .product-name {
                    font-size: 16px;
                    font-weight: bold;
                    margin: 0;
                    margin-bottom: 5px;
                }

                .product-price {
                    font-size: 14px;
                    margin: 0;

                    .sale-price {
                        color: red;
                        font-weight: bold;
                    }

                    .original-price {
                        text-decoration: line-through;
                        color: #888;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}


//remove product from item style
.delete-icon {
    font-size: 24px;
    color: #ff5252;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
        color: #d32f2f;
    }
}

.product-item {
    position: relative;

}


//no data text
.no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 20px;
    font-weight: 500;
}

//
.cart-summary {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.order-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-align: center;

    &:hover {
        background-color: #333;
    }
}



.custom-close-button {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none;
    padding: 0;
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;

    &:hover {
        background-color: transparent !important;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:active {
        background-color: transparent !important;
    }

    // Style the icon
    i {
        font-size: 20px;
        color: inherit;
    }
}