.product-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product-list .product-item {
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}
.product-list .product-item .product-image {
  width: 110px;
  height: 70px;
  object-fit: cover;
  margin-right: 15px;
}
.product-list .product-item .product-details .product-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}
.product-list .product-item .product-details .product-price {
  font-size: 14px;
  margin: 0;
}
.product-list .product-item .product-details .product-price .sale-price {
  color: red;
  font-weight: bold;
}
.product-list .product-item .product-details .product-price .original-price {
  text-decoration: line-through;
  color: #888;
  margin-left: 5px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  margin-right: 10px;
}

.info-value {
  flex-grow: 1;
}

.form-check-input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  outline: none;
  cursor: pointer;
}

.form-check-label {
  margin-left: 8px;
  cursor: pointer;
}

.cart-summary {
  background-color: #f9f9f9;
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.order-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.order-button:hover {
  background-color: #333;
}

.dialog-content {
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

button {
  margin-top: 15px;
}

.balloons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.balloon {
  position: absolute;
  bottom: 0;
  background-color: #ff66b2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: floatUp 4s ease-in infinite;
  opacity: 0.8;
}

.balloon:nth-child(odd) {
  background-color: #ff3366;
}

.balloon:nth-child(even) {
  background-color: #ff6699;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}