html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.m-w-100 {
  max-width: 100%;
}

.animate_duration_0_5 {
  animation-duration: 0.5s;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate__slideInRight {
  animation: slideInRight 0.5s ease-in-out;
}

.animate__animated {
  will-change: transform, opacity;
}

ngx-toastr {
  z-index: 9999 !important;
  /* Ensure toasts are visible */
}