<app-loading [isLoading]="loading"></app-loading>
<div class="container mt-4 mb-4">
    <div class="row" >
        <div class="col-sm-4 col-md-2 game-container" *ngFor="let product of dataProduct ">
            <div class="card" style="cursor: pointer;" (click)="gotoPage(product.id)">
                <img style="height: 260px; object-fit: cover;" class="card-img-top" [src]="product.thumbnail"
                    alt="Card image cap" />
                <div class="card-body">
                    <span class="card-text">US {{ product.unitPrice | currency }}</span>
                    <p class="card-text">{{ product.name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
