<!-- footer detail information -->
<div class="nav-section" style="position: relative;">
    <div class="footer-overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 footer-left-sec padding-25">
                    <img height="40px" class="logo" src="../../../assets/images/logo navbar.png" alt="Logo"/>
                    <p class="copy-right">©2025 copyright by Your Company Name</p>
                </div>
                <div class="col-sm-12 col-md-8 footer-right-sec">
                    <div class="row padding-25">
                        <div class="col-sm-12 col-md-4">
                            <h5>Contact Us</h5>
                            <p class="footer-text">
                                <i class="fa fa-phone" aria-hidden="true"></i> +1234567890
                            </p>
                            <p class="footer-text">
                                <i class="fa fa-phone" aria-hidden="true"></i> +0987654321
                            </p>
                            <p class="footer-text">
                                <i class="fa fa-envelope" aria-hidden="true"></i> contact@company.com
                            </p>
                            <p class="footer-text">
                                <i class="fa fa-envelope" aria-hidden="true"></i> support@company.com
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h5>Follow Us</h5>
                            <ul class="icon-list">
                                <li>
                                    <a href="https://www.facebook.com/yourpage">
                                        <img src="../../../assets/images/icon/facebook.png" alt="Facebook"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://t.me/yourchannel">
                                        <img src="../../../assets/images/icon/telegram.png" alt="Telegram"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.tiktok.com/@yourprofile">
                                        <img src="../../../assets/images/icon/tiktok.png" alt="TikTok"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/yourchannel">
                                        <img src="../../../assets/images/icon/youtube.png" alt="YouTube"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h5>Language</h5>
                            <select name="language" id="language" class="lan-btn">
                                <option value="en">English</option>
                                <option value="kh">Khmer</option>
                            </select>
                            <p style="margin-top:15px"><b>We Accept</b></p>
                            <p><img src="../../../assets/images/partner_payment.png" alt="Partner Payment Methods"/></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
