<!-- footer detail information -->
<div class="nav-section" style="position: relative;">
    <div class="footer-overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 footer-left-sec padding-25">
                    <img height="120px" class="logo" src="../../../assets/images/logo navbar.png" alt="Logo"/>
                    <p class="copy-right">©2025 copyright by Laor Tinh</p>
                </div>
                <div class="col-sm-12 col-md-8 footer-right-sec">
                    <div class="row padding-25">
                        <div class="col-sm-12 col-md-4">
                            <h5>Contact Us</h5>
                            <p class="footer-text">
                                <i class="pi pi-phone"></i> +(855) 097444492
                            </p>
                            <p class="footer-text">
                                <i class="pi pi-phone"></i> +(855) 012343455
                            </p>
                            <p class="footer-text">
                                <i class="pi pi-envelope"></i> info@laortinh.com
                            </p>
                            <p class="footer-text">
                                <i class="pi pi-telegram"></i> Telegram
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h5>Follow Us</h5>
                            <p class="footer-text">
                                <i class="pi pi-facebook"></i> Facebook
                            </p>
                            <p class="footer-text">
                                <i class="pi pi-telegram"></i> Telegram
                            </p>
                            <p class="footer-text">
                                <i class="pi pi-youtube"></i> Youtube
                            </p>
                            <p class="footer-text">
                                <i class="pi pi-instagram"></i> Instagram
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h5>Language</h5>
                            <select name="language" id="language" class="lan-btn">
                                <option value="en">English</option>
                                <option value="kh">Khmer</option>
                            </select>
                            <p style="margin-top:15px"><b>We Accept</b></p>
                            <p><img src="../../../assets/images/partner_payment.png" alt="Partner Payment Methods"/></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
