<!-- <app-loading [isLoading]="loading"></app-loading> -->
<div class="container home-page mt-3">
    <!-- Carousel Section -->
    <p-carousel [value]="images" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true"
        [autoplayInterval]="3200" [responsiveOptions]="responsiveOptions">
        <ng-template let-image pTemplate="item">
            <img style="width: 100%; height: 54vh; object-fit:cover;" [src]="image" alt="Product Image" />
        </ng-template>
    </p-carousel>

    <div *ngFor="let category of groupedProducts">
        <div class="col-12">
            <h5 class="big-title d-flex justify-content-between align-items-center mb-4">
                <span>{{ category.name }}</span>
                <a routerLink="shop-more" (click)="gotoPageViewMore(category.name)" class="view-more-link">Shop More</a>
            </h5>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-2 product-container" *ngFor="let product of category.products">
                <div pAnimateOnScroll enterClass="animate-fadein" leaveClass="animate-fadeout"
                    class="card" style="cursor: pointer;" (click)="gotoPage(product.id)">
                    <img style="height: 260px; object-fit: cover;" class="card-img-top" [src]="product.thumbnail"
                        alt="Card image cap" />
                    <div class="card-body">
                        <span class="card-text">US {{ product.unitPrice | currency }}</span>
                        <p class="card-text">{{ product.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- <app-loading style="display: flex; align-items: center; justify-content: center;"></app-loading> -->